* {
  font-family: "Poppins";
}
html{
    background-color: gray;
}
body {
  margin: 0;
}
#main {
  display: flex;
  flex-direction: column;
}
#page {
  flex: 1;
  padding: 10px;
}
#navbar {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;

  height: fit-content;
}
.navLink {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.75vh;
  padding: 10px;
}

.navLink:hover {
  color: red;
}
#logOutButton {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.75vh;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}
#logOutButton:hover {
  color: red;
}

#navbarLinks {
  justify-content: flex-end;
  padding-right: 30px;
}
#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#Title {
  padding-left: 30px;
  font-family: "Kanit";
  font-size: 3.5vh;
  margin: 0px;
}
#home {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
#welcome{
    font-size: 7vh;
    margin-bottom: 0px;
    text-shadow: 2px 2px 6px red;
}
#homeTitle{
    font-family: "Kanit";
    color: red;
    text-shadow: 2px 2px 6px black;
}
#User{
    font-size: 5.25vh;
    text-transform: uppercase;
    margin-top: 10px;
    text-shadow: 2px 2px 6px red;
}
.homeLink {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    background-color: red;
    border-radius: 10px;
    border: 5px solid rgb(130, 2, 2);
    padding: 30px;
    margin: 30px;
    font-size: 3.5vh;
}
.homeLink:hover {
    box-shadow: 2px 2px 6px black;
    background-color: rgb(152, 0, 0);
}

.pageTitle {
    justify-self: center;
    font-size: 8vh;
    color: white;
    font-family: "Kanit";
    text-shadow: 2px 2px 6px red;


}

.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

/* #routineList {
    width:100vh;
} */

/* #routineCard {
    width:100vh;
} */

.loginRegisterForm {
    display: flex;
    flex-direction: column;
}

.loginRegisterForm * {
    padding-bottom: 30px;
}

.formLabel {
  color: white;
  font-size: 2vh;
}

.inputtext{
  font-size: 2vh;
  margin-left: 15px;
  padding: 0px 15px 0px;
}
.loginRegisterButton{
  color:white;
  background-color: red;
  font-size: 2vh;
  padding: 5px 15px 5px;
  margin: 10px 0px 10px;
}